:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#FFC107;
    --secundario:#0097A7;
    --gris:#757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size:2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}

.nav-bg{
    background: var(--secundario);
    
}

.navegacion-principal{
display: flex;
flex-direction: column;
justify-content: space-between;
}

@media (min-width: 760px) {
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color:var(--blanco);
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover{
    background:var(--primario);
    color:var(--oscuro);
    padding: 1rem;
    
}

.hero{
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:450px;
    padding: 20px;
}
